
.cart div {
    display: inline-block;
    padding: 0 15px;
    border-left: 1px solid darkgray;
}

li.nav-item{
    width: max-content;
}

.header-custom {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.logo {
    z-index: 1;
    background-color: rgb(255, 255, 255, 0.5);
    width: 100%;
}

.logo > img {
    width: 8%;
    display: block;
    margin: auto;
}