
.cart div {
    display: inline-block;
    padding: 0 15px;
    border-left: 1px solid darkgray;
}

li.nav-item{
    width: max-content;
    color: aliceblue;
}

.header-custom {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.logo {
    z-index: 1;
    background-color: rgb(255, 255, 255, 0);
}

img.logo {
    width: 8%;
    margin: auto;
}

.custom-dropdown {
    background-color: #34282C;
}

.dropdown-item:hover {
    background-color: #736F6E;
}

.nav-item:hover {
    background-color: #49413F;
}