.row.slider {
    position: relative;
    background-color: black;
}
.slider {
    height: 30vh;
}

.row.slider > .prev,.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
  -webkit-user-select: none;
}

.row.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.row.slider .slide-item {
    width: 25%;
    height: 100%;
    padding: 0;
    margin: 0;
    animation: slide 2s forwards;
    animation-delay: 2s;
}

@keyframes slide {
    100% { left: 0; }
}